!!!
%html{ lang: 'en' }
  :plain
    <!--
         ___       _ ____           _ __  __     __               __
        / _ )__ __(_) / /_  _    __(_) /_/ /    / /__ _  _____   / /  __ __ / _  / // / / / __/ | |/|/ / / __/ _ \  / / _ \ |/ / -_) / _ \/ // /
      /____/\_,_/_/_/\__/  |__,__/_/\__/_//_/ /_/\___/___/\__/ /_.__/\_, /
                                                                    /___/
        _   _           ___       _ _   _
       /_\ | |_____ __ / __|_ __ (_) |_| |_
      / _ \| / -_) \ / \__ \ '  \| |  _| ' \
     /_/ \_\_\___/_\_\ |___/_|_|_|_|\__|_||_|

     * GitHub:  @atsmith813
     * Website: https://alexsmith.codes & https://hirealexsmith.com
     * Twitter: @atsmith813
     * DEV:     https://dev.to/atsmith813
     * Email:   workwithalexsmith@gmail.com
    -->
  %head
    / Required meta tags
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ charset: 'utf-8' }
    %meta{ content: 'ie=edge', 'http-equiv' => 'x-ua-compatible' }
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport' }

    / Open Graph
    %meta{ content: 'website', property: 'og:type' }
    %meta{ content: 'Alex Smith | Software Engineer', property: 'og:title' }
    %meta{ content: 'https://alexsmith.codes', property: 'og:url' }
    %meta{ content: '/images/alex_smith_og.png', property: 'og:image' }
    %meta{ content: '/images/alex_smith_og.png', property: 'og:image:secure_url' }
    %meta{ content: 'Alex', property: 'profile:first_name' }
    %meta{ content: 'Smith', property: 'profile:last_name' }

    / Favicons
    %link{ href: '/images/favicons/apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '152x152' }
    %link{ href: '/images/favicons/favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png' }
    %link{ href: '/images/favicons/favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png' }
    %link{ href: '/images/favicons/site.webmanifest', rel: 'manifest' }
    %link{ color: '#5bbad5', href: '/images/favicons/safari-pinned-tab.svg', rel: 'mask-icon'}
    %meta{ content: '#da532c', name: 'msapplication-TileColor' }
    %meta{ content: '/images/favicons/browserconfig.xml', name: 'msapplication-config'}
    %meta{ content: '#ffffff', name: 'theme-color' }

    / CSS
    %link{ crossorigin: 'anonymous', href: 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity: 'sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', rel: 'stylesheet' }
    %link{ href: 'https://fonts.googleapis.com/css?family=Lato|Work+Sans', rel: 'stylesheet' }
    %link{ href: 'https://fonts.googleapis.com/css?family=Bangers&display=swap', rel: 'stylesheet' }
    %link{ href: 'https://fonts.googleapis.com/css?family=Work+Sans&display=swap', rel: 'stylesheet' }
    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css', rel: 'stylesheet' }
    = stylesheet_link_tag 'site'

    / JS
    %script{ crossorigin: 'anonymous', integrity: 'sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', src: 'https://code.jquery.com/jquery-3.4.1.slim.min.js' }
    %script{ crossorigin: 'anonymous', integrity: 'sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', src: 'https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' }
    %script{ crossorigin: 'anonymous', integrity: 'sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', src: 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' }
    %script{ src: 'https://cdn.jsdelivr.net/npm/typeit@5.5.0/dist/typeit.min.js' }
    %script{ src: 'https://kit.fontawesome.com/fcbba1af21.js', crossorigin: 'anonymous' }
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js' }

    = javascript_include_tag 'site'

    %title Alex | Software Engineer

  %body
    .container
      = yield
      = partial 'partials/footer'
      = google_analytics_tag
