.section
  .row
    .col-12.col-md-6.offset-md-3
      .text-center
        = image_tag 'black-and-white.png', id: 'black-and-white', class: 'circle-image'
  .row
    .col-12.col-md-6.offset-md-3.text-center
      %h1
        About me
.section.about-me-summary
  .row.mb-5
    .col-12.col-md-8.offset-md-2
      %h3
        TLDR
      %p
        A Florida native currently residing in Los Angeles, California, my name is
        Alexander Smith (Alex). While I call Tampa home, I was born in
        Baltimore, MD and I've been to Germany more times than my fingers
        permit me to count. I have a black belt in Taekwondo (it's been awhile
        though). I originally planned to join the military and was in ROTC in
        High School. My friends call me an adrenaline junkie because I love
        anything with an engine. I've had experience with 4-wheelers, go-karts,
        boats, jet skis, motorcycles, sports cars, and more. If it goes fast,
        I'm interested. Speaking of interested, want to learn more?  You can
        read more about...
      %p
        %a{ href: '#past' } How I went from flipping burgers at the neighborhood DQ to Wall Street.
      %p
        %a{ href: '#present' } How I retired from being a corporate mercenary and became a Full-Stack Developer at a startup.
      %p
        %a{ href: '#future' } What I'm working towards next.
      %p
        %a{ href: '/blog' } Things I've written.
      %p
        And while we're still talking about me, you can
        %a{ href: '/' } hire me
        to help
        = succeed '!' do
          %span{ style: 'font-style: italic;' } you
        = partial 'partials/contact_me_btn'
  .row
    .col-12.col-md-8.offset-md-2
      %h3
        Quick timeline of professional experience
      %p
        Clicking on the company titles will take you to the section of my story
        describing the position. You can also check out my resume
        = succeed "." do
          %a{ href: '/alex_smith_resume.pdf', target: '_blank' } here
        = partial 'partials/experience_links'
.row
  .col
    %hr
.section#past
  .row
    .col-12.col-md-8.offset-md-2
      %h3
        Where I've been
      %p.about-me-quote
        %i.fa.fa-quote-left.fa-3x.fa-pull-left
        You don't know where you're going until you know where you've been.
      %br
      %p.about-me-text
        = partial 'partials/past'
.row
  .col
    %hr
.section#present
  .row
    .col-12.col-md-8.offset-md-2
      %h3
        Where I am
      %p.about-me-quote
        %i.fa.fa-quote-left.fa-3x.fa-pull-left
        Our DNA is 96% chimpanzee. Is that even worth arguing?! If I gave
        you a sandwich that was filled with 96% sh*t and 4% ham, would you
        be willing to consider that a ham sandwich? So If you ever start
        taking things too seriously, just remember that we are talking monkeys
        on an organic spaceship flying through the universe. - Joe Rogan
      %br
      %p.about-me-text
        = partial 'partials/present'
.row
  .col
    %hr
.section#future
  .row
    .col-12.col-md-8.offset-md-2
      %h3
        Where I'm going
      %p.about-me-quote
        %i.fa.fa-quote-left.fa-3x.fa-pull-left
        I don't regret the things I've done, only the things I've never tried.
      %br
      %p
        = partial 'partials/future'
.row
  .col
    %hr
.section#hobbies
  .row
    .col-12.col-md-8.offset-md-2
      %h3
        Hobbies and interests
      %p
        Hobbies and interests can be so vague...I like to think of this section
        as answers to the question of, "what are some things that you would go
        out of your way to do in your free time?". But that's not a cool title
        so I still call these hobbies and interests.
      %p
        .row
          .col.col-md-6.col-xs-6
            %p Skydiving
            %p Cars
            %p Computers
            %p Volleyball
          .col.col-md-6.col-xs-6
            %p Music / speakers
            %p Golf
            %p Board games
            %p Social justice
