.section.banner
  .row
    .col-12.col-md-6.offset-md-3
      .text-center
        = image_tag 'headshot.png', id: 'headshot', class: 'circle-image'
  .row
    .col-12.col-md-6.offset-md-3.text-center
      %h2#intro-text
        I've been called many things...
      %h1#type-text
      %h2#name-text
        But you can call me Alex
.row
  .col
    %hr
.section.introduction
  .row
    .col-12.col-md-8.offset-md-2
      %h1
        What do I do?
      %h3.intro-text.skill
        I solve problems and increase efficiency for clients via part-time,
        project-based engagements.
      = partial 'partials/contact_me_btn'
.row
  .col
    %hr
.section.skills
  .row
    .macros.col-md-8.offset-md-2
      %h1
        How do I do it?
      %br
      .row.skill
        .col-xs-2.col-md-2
          %i.fa.fa-code.fa-fw.icon{ style: 'color: #FB0106FF;' }
        .col-xs-10.col-md-10
          .skill-text
            %h3
              I develop software to...
            %p
              Do everything. I build web scrapers to import data from a website,
              such as your competitor. I build websites. I build web applications.
              I build custom API integrations to enhance your existing technology
              with 3rd party services. My tools of choice include Ruby on Rails,
              Javascript, HTML, CSS, SQL, and more!
      .row.skill
        .col-xs-2.col-md-2
          %i.fa.fa-file-excel-o.fa-fw.icon{ style: 'color: #2a754bff;' }
        .col-xs-10.col-md-10
          .skill-text
            %h3
              I write Microsoft Excel Macros to...
            %p
              Automatically import data from websites or other files, generate
              reports, send emails, and perform those pesky repetitive tasks
              so you can spend less time in spreadsheets fighting against
              updates and formatting, and more time focusing on your business.
              Don't budget an entire salary for a new hire, automate your
              entire process with a single click!
      .row.skill
        .col-xs-2.col-md-2
          %i.fa.fa-line-chart.fa-fw.icon{ style: 'color: #0F7FFEFF;' }
        .col-xs-10.col-md-10
          .skill-text
            %h3
              I create financial models to...
            %p
              Prepare you for your next fundraising round and investor meetings.
              Want to forecast your financials or user adoption for next year?
              I'll build you models to answer those tough "what if" questions
              about the future. I can even include the information formatted
              in your presentations and have it update itself automatically.
      .row.skill
        .col-xs-2.col-md-2
          %i.fa.fa-pencil.fa-fw.icon{ style: 'color: #FFCC00;' }
        .col-xs-10.col-md-10
          .skill-text
            %h3
              I can teach you more about...
            %p
              The financial markets. Have you ever felt intimidated by the Wall
              Street buzz words and the world of investing? I can break it
              down for you. Looking to break into Software Development? I can
              teach how you to get started. Confused about how much a
              contractor is charging you to build your MVP? I can offer a
              second opinion.
.row
  .col
    %hr
.section.learn-more
  .row
    .col-12.col-md-8.offset-md-2
      %h1
        Why me?
      %p.resume-text
        %h3
          With my diverse experiences, I'm able to bring a unique perspective and
          a wide variety of skills to help you solve your problems.
      .row
        .col-md-6
          %p
            .company
              TicketFire
            .role
              Software and Operations Engineer
          %p
            .company
              MentorcliQ
            .role
              Director of Higher Education
          %p
            .company
              Bank of America Merrill Lynch
            .role
              Assistant Vice President
          %p
            .company
              Scottrade
            .role
              Broker Apprentice
        .col-md-6
          %p
            .learn-more-text
              %p
                Interested in learning more
                = succeed '?' do
                  %a{ href: '/about-me.html' } about me
          %p.company
            You can read more about...
          %p
            %a{ href: '/about-me.html#past' } How I went from flipping burgers at the neighborhood DQ to Wall Street.
          %p
            %a{ href: '/about-me.html#present' } How I retired from being a corporate mercenary and became a Full-Stack Developer at a startup.
          %p
            %a{ href: '/about-me.html#future' } What I'm working towards next.
      .row
        .col-md-12
          %p#resume-contact-btn
            = partial 'partials/contact_me_btn'
.row
  .col
    %hr
.section.testimonial
  .row
    .col-12.col-md-8.offset-md-2
      %h1
        What are others saying?
      %p.testimonial-quote
        %i.fa.fa-quote-left.fa-3x.fa-pull-left
        Alex has been a pleasure to work with. His ability to listen to
        stakeholders and get to the root of the issue at hand is amongst the
        best. Combining his knowledge of the finance world with software allows
        for a very analytical and efficient approach to the solutions he brings
        to the table. -
        %a{ href: 'https://lscott3.com/', target: '_blank' } Larry Scott, CTO,
        = succeed '.' do
          %a{ href: 'https://ticketfire.com', target: '_blank' } TicketFire
      %p.testimonial-quote
        %i.fa.fa-quote-left.fa-3x.fa-pull-left
        Alex has been extremely helpful and wonderful to work with! His unique
        finance and software engineering expertise can be appreciated by any
        organization. His particular skill set allows him to strategize, execute,
        and implement solutions to real problems unlike anyone I’ve ever seen
        before. -
        %a{ href: 'https://www.linkedin.com/in/dscotts3/', target: '_blank' } Dwight Scott, Director of Technology,
        = succeed '.' do
          %a{ href: 'https://ticketfire.com', target: '_blank' } TicketFire
.row
  .col
    %hr
.section#contact-me
  .row
    .col-12.col-md-8.offset-md-2
      %h1
        How do you get started?
      %h3.contact-text
        Contact me by quickly filling out the 4 questions below, and I'll get
        back to you within 24 hours!
      .typeform-widget{ "data-hide-footer" => "true", "data-hide-headers" =>"true", "data-transparency" => "50", "data-url" => "https://alexsmith5.typeform.com/to/KHwlzl", style: "width: 100%; height: 350px;" }
      :javascript
        (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
.row
  .col
    %hr
.section.faq
  .row
    .col-12.col-md-8.offset-md-2
      %h1
        Questions?
      %p.faq-text
        .question
          What does a typical project engagement look like?
        %p
          While there's no typical project, engagements begin with a 20 minute
          discovery call where we can discuss the project, scope, and timeline.
          For teaching, speaking, or consulting engagements we will schedule
          1-hour blocks accordingly.
